.cover {
  position: fixed;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  padding: 28px;
  color: #fff;
  transition: top 0.5s;
}

.show {
  top: 0
}

.button {
  width: 30px;
  margin-left: auto;
}

.cover ul {
  color: #fff;
  list-style: none;
  padding: 0;
  mix-blend-mode: normal;
}

.cover li {
  margin: 20px 0;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}
